*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    height: 900px;
    width: 600px;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}
#text{
    width: 600px;
    height: 500px;
    font-size: 2em;
    padding: 3px 4px;
}
.controls{
    place-self: flex-start;
    display: flex;
    width: 390px;
    justify-content: space-around;
}
label{
    font-size: 1.5em;
}
#speed{
    font-size: 1.5em;
    width: 100px;
}
button{
    width: 70px;
    font-size: 1.4em;
}